body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: black;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.left, .middle, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.left {
    flex: 1 1 100%;
    text-align: center;
    font-size: 1.2rem;
}

.middle {
    flex: 3 1 100%;
    background-color: rgb(60, 57, 50);
    padding: 10px;
    margin: 10px 0;
    border-radius: 100px;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.middle > button {
    flex: 1 1 120px;
    margin: 5px;
    min-width: 80px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 100px;
    background-color: rgb(60, 57, 50);
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
}

.middle > button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

.right {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 10px;
}

.right > button {
    width: 100%;
    max-width: 150px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 200px;
    background-color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
}

.right > button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    font-size: 6vw;
    padding: 0 10px;
    text-align: center;
}

.heading0 {
    font-size: 0.8em;
    margin-bottom: 0.2em;
    font-family: cursive;
}

.heading1 {
    font-family: 'Stack Sans Notch', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
}

@media (min-width: 600px) {
    .left, .right {
        flex: 1;
        text-align: center;
    }

    .middle {
        flex: 3;
        justify-content: center;
    }

    .middle > button {
        width: auto;
        min-width: 120px;
        height: 50px;
        font-size: 1.2rem;
    }

    .right > button {
        max-width: 150px;
        height: 50px;
        font-size: 1rem;
    }

    main {
        font-size: 100px;
        height: 80vh;
    }
}

@media (min-width: 900px) {
    nav {
        flex-wrap: nowrap;
        padding: 30px 40px;
    }

    .left, .middle, .right {
        flex: none;
        text-align: left;
        padding: 0 15px;
    }

    main {
        font-size: 100px;
    }
}